body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.main a:link {
    text-decoration: underline;
}
#attribution {
    font-size: 91.66%;
    line-height: 1.5;
    padding-bottom: 0.5em;
}
.title {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0433em;
}
.title a:link,
.title a:visited,
.title a:hover {
    color: #333333;
}
.img_p {
    padding: 9px 0 18px;
}
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    background-color: #ffffff;
    color: #333333;
}
p,
ul {
    margin: 0 0 1em;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'franklin gothic book', 'franklin gothic medium', 'trebuchet ms', 'verdana';
    letter-spacing: -1px;
}
h1,
h2,
h3 {
    font-weight: 700;
}
h4 {
    font-weight: 400;
}
h1 {
    font-size: 1.6666666666666667em;
    line-height: 1.8em;
    font-size: 1.6666666666666667em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.1666666666666667em;
    line-height: 1.2857142857142858em;
}
h3,
h4 {
    font-size: 1em;
    line-height: 1.5em;
}
a {
    text-decoration: none;
}
a:link {
    color: #555555;
}
a:visited {
    color: #878787;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #bbbbbb;
}
.nav-list {
    list-style: none;
    padding-top: 4.5px;
    border-top: 4.5px solid #f0f0f0;
    clear: both;
}
.nav-group {
    letter-spacing: 1px;
    margin-bottom: 18px;
    font-variant: small-caps;
}
.nav-list-sub {
    font-variant: normal;
    font-size: 91%;
    line-height: 1.6;
    letter-spacing: 0;
}
.nav-list-sub li {
    display: inline;
}
.nav-list-sub li:before {
    content: "· ";
}
.nav-list-sub li:first-child:before {
    content: none;
}
.index a:hover {
    text-decoration: none;
}
.index {
    padding-top: 11px;
}
@media only screen {
    #main,
    .nav-list {
        padding: 9px;
}
.title {
    margin: 0 9px 0;
}
p,
ul {
    max-width: 1000px;
}
img {
    max-width: 100%;
    height: auto;
}
.main.index {
    position: relative;
}
#index-img {
    position: relative;
}
#index-about {
    position: absolute;
    top: 9px;
    width: 100%;
}
#index-about p {
    padding-right: 9px;
    background-color: white;
}
}
@media only screen and (min-width: 481px) {
    .nav-list,
    #main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 9px;
}
.nav-list {
    clear: none;
    width: 15%;
    padding-top: 6px;
    border-top: none;
}
.nav-list-sub li {
    display: block;
    padding: 0 9px 0 0;
}
.nav-list-sub li:before {
    content: none;
}
#main {
    float: right;
    width: 85%;
}
#index-img {
    padding-top: 9px;
}
@media only screen and (min-width: 1025px) {
    img {
        max-width: none;
}
.nav-list {
    width: 12.5%;
}
#main {
    width: 87.5%;
}
#index-img {
    float: left;
    padding-right: 18px;
}
#index-img,
#index-about {
    padding-top: 8px;
}
#index-about {
    top: 0;
    width: auto;
    max-width: none;
    min-width: 0;
    position: relative;
}
#index-about p {
    max-width: none;
    padding-right: 0;
    background-color: transparent;
}
}
@media print {
    body,
    li,
    td,
    p,
    div,
    input {
        background: transparent;
        color: #000;
        box-shadow: none;
        text-shadow: none;
}
a,
a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " [" attr(href) "]";
}
pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr,
img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
@page  {
    margin: 0.5cm;
}
p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}
h2,
h3 {
    page-break-after: avoid;
}
nav {
    display: none;
}
#main {
    width: 100%;
    display: block;
}
}
.centered-div {
    text-align: center;
}

